.App {
    text-align: center;
}

.App-header {
    background-color: #172a51;
    max-height: 12vh;
    min-height: 12vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-header .Choose-wallet {
    position: absolute;
    right: 220px;
    max-height: 40px;
    min-height: 40px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.App-header .Func-Button {
    cursor: pointer;
    background-color: #1a2f5b;
    border: #fff 1px solid;
    color: #fff;
    border-radius: 10px;
    position: absolute;
    right: 30px;
    padding: 5px;
    font-size: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.App-header .Choose-wallet .Add-wallet {
    font-size: 18px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 50px;
}

.App-header .Choose-wallet .Add-wallet div {
    min-width: 150px;
    cursor: pointer;
    font-size: 20px;
    border: #fff 1px solid;
    padding: 5px;
    border-radius: 10px;
}

.App-body {
    display: flex;
    flex-direction: row;
}

.App-body .sidebar {
    width: 15vw;
    height: calc(88vh - 30px);
    padding-top: 30px;
    background-color: #132344;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.App-body .sidebar .item {
    width: 80%;
    height: 50px;
    background-color: #172a51;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
}

.App-body .sidebar .item:hover {
    opacity: 0.9;
}

.App-body .sidebar .item-active {
    border: #a4dcd1 1px dashed;
}

.App-body .sidebar .item-add {
    background-color: #1d2d50;
}

.App-body .content {
    width: 85vw;
    height: 88vh;
    background-color: #16274a;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.App-body .add-network {
    display: flex;
    justify-content: center;
}

.App-body .add-network .box-container {
    margin-top: 50px;
    width: 50%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.App-body .add-network .box-container label {
    color: #fff;
}
.App-body .add-network .box-container h1 {
    color: yellow;
}
.App-body .add-network .box-container input[type="text"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 5px;
    box-sizing: border-box;
    border: none;
    background-color: #19202e;
    color: white;
}

.App-body .add-network .box-container button {
    margin-top: 30px;
    width: 100%;
    height: 40px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    background: transparent;
    border: #fff 1px solid;
    color: #fff;
    font-weight: bold;
}
